<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head th:fragment="header">
    <meta charset="UTF-8">
    <!-- cssのlink
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script th:src="@{/vendor/bootstrap.js}"></script>
    <script th:src="@{/vendor/toastr.min.js}"></script>
    <script th:src="@{/vendor/bootstrap-toggle.js}"></script>
     
     -->
  </head>
</html>